@model IEnumerable<Workforce_Silver_Snakes.Models.ComputerAddEmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Computers</h1>
<p>
    <a asp-action="Create"  type="button" class="btn btn-primary bg-primary border-primary" >Add Computer</a>
</p>

<form asp-controller="Computers" asp-action="Index">
    <p>
        Make or Model: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                Employee Assignment
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.FirstName) @Html.DisplayFor(modelItem => item.employee.LastName)
            </td>
            <td>
                <a asp-action="Edit"
                   asp-route-id="@item.Id">

                    <img src="~/Icons/edit.svg" />
                </a>
                <a asp-action="Details"
                   asp-route-id="@item.Id">

                    <img src="~/Icons/details.svg" />
                </a>
                @if (item.employee.FirstName == null)
                {
                    <a asp-action="Delete"
                        asp-route-id="@item.Id">

                    <img src="~/Icons/trash.svg" />
                    </a>
                }
                else
                {
                }
            </td>
        </tr>
}
    </tbody>
</table>
